.header{
    border-bottom: 1px solid #eee;
}
#main{
    margin:0 auto;
    width: 85%;
    height:90%;
}

#modal-body{
    width: 800px;
    height:800px;
    margin-top: 10vh;
}

.text-center span{
    color: #3c763d;
    font-size: 25px;
}

#collapseOne{
    text-align: center;
}
