.header{
    border-bottom: 1px solid #eee;
}
#main{
    margin:0 auto;
    width: 95vw;
    height:92vh;
}

.text-center span{
    color: #3c763d;
    font-size: 25px;
}

#collapseOne{
    text-align: center;
}

#oldData {
    height: 70vh;
}

#analysisData {
    height: 70vh;
}
