<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
             xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2
               http://www.springframework.org/schema/security/spring-security-oauth2.xsd
               http://www.springframework.org/schema/security
               http://www.springframework.org/schema/security/spring-security-4.2.xsd
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Spring Security + OAuth 的主配置文件-->

    <!-- 若需要调试, 可将debug 标签注释取消 -->
    <!--<debug/>-->

    <!--  静态资源, 忽略 -->
    <!--static url pattern-->
    <http pattern="/resources/**" security="none"/>
    <!-- 公开, 扩展的 API, public -->
    <http pattern="/oauth/rest_token" security="none"/>
    <http pattern="/oauth/check_token" security="none"/>

    <!--配置tokenStore-->
    <!--<beans:bean id="tokenStore" class="org.springframework.security.oauth2.provider.token.store.InMemoryTokenStore"/>-->
    <beans:bean id="tokenStore" class="org.jeffrey.oauth.base.CustomJdbcTokenStore">
        <beans:constructor-arg index="0" ref="dataSource"/>
    </beans:bean>

    <!--配置tokenServices-->
    <beans:bean id="tokenServices" class="org.springframework.security.oauth2.provider.token.DefaultTokenServices">
        <beans:property name="tokenStore" ref="tokenStore"/>
        <beans:property name="clientDetailsService" ref="clientDetailsService"/>
        <beans:property name="supportRefreshToken" value="true"/>
    </beans:bean>

    <!--管理 ClientDetails-->
    <beans:bean id="clientDetailsService" class="org.jeffrey.oauth.base.CustomJdbcClientDetailsService">
        <beans:constructor-arg index="0" ref="dataSource"/>
    </beans:bean>

    <!--ClientDetailsUserDetailsService配置-->
    <beans:bean id="oauth2ClientDetailsUserService" class="org.springframework.security.oauth2.provider.client.ClientDetailsUserDetailsService">
        <beans:constructor-arg ref="clientDetailsService"/>
    </beans:bean>

    <!--OAuth2AuthenticationEntryPoint配置-->
    <beans:bean id="oauth2AuthenticationEntryPoine" class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint"/>

    <!--oauth2 AuthenticationManager配置; 在整个配置中,有两个AuthenticationManager需要配置-->
    <authentication-manager id="oauth2AuthenticationManager">
        <authentication-provider user-service-ref="oauth2ClientDetailsUserService"/>
    </authentication-manager>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService"/>
    </authentication-manager>
</beans:beans>